@model IEnumerable<OFCSS.Models.CropSale>

@{
    ViewData["Title"] = "ShowCropSale";
}

<h1>Show Crop Sale</h1>

<p>
    <a asp-action="CreateCropSale">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.cname)*@
                Crop Name
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.cquantity)*@
                Crop Quantity
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.cprice)*@
                Crop Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.cdiscription)*@
                Crop Discription
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cquantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cdiscription)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.c_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.c_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.c_id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
